/*
Theme Name: Smore Creative
Theme URI: http://underscores.me/
Author: Tiffany Israel
Author URI: http://www.tiffanyisrael
Description: The official theme for S\'more Creative
Version: 1.0
License: GNU General Public License
License URI: license.txt
Tags:

This theme, like WordPress, is licensed under the GPL.
Use it to make something cool, have fun, and share what you've learned with others.

Resetting and rebuilding styles have been helped along thanks to the fine work of
Eric Meyer http://meyerweb.com/eric/tools/css/reset/index.html
along with Nicolas Gallagher and Jonathan Neal http://necolas.github.com/normalize.css/
and Blueprint http://www.blueprintcss.org/
*/
@import url(http://fonts.googleapis.com/css?family=Karla:400,400italic,700);

/* =Reset
-------------------------------------------------------------- */

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
	border: 0;
	font-family: inherit;
	font-size: 100%;
	font-style: inherit;
	font-weight: inherit;
	margin: 0;
	outline: 0;
	padding: 0;
	vertical-align: baseline;
}
html {
	font-size: 62.5%; /* Corrects text resizing oddly in IE6/7 when body font-size is set using em units http://clagnut.com/blog/348/#c790 */
	overflow-y: scroll; /* Keeps page centred in all browsers regardless of content height */
	-webkit-text-size-adjust: 100%; /* Prevents iOS text size adjust after orientation change, without disabling user zoom */
	-ms-text-size-adjust: 100%; /* www.456bereastreet.com/archive/201012/controlling_text_size_in_safari_for_ios_without_disabling_user_zoom/ */
}
body {
	background: #fff;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
nav,
section {
	display: block;
}
ol, ul {
	list-style: none;
}
table { /* tables still need 'cellspacing="0"' in the markup */
	border-collapse: separate;
	border-spacing: 0;
}
caption, th, td {
	font-weight: normal;
	text-align: left;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: "";
}
blockquote, q {
	quotes: "" "";
}
a:focus {
	outline: thin dotted;
}
a:hover,
a:active { /* Improves readability when focused and also mouse hovered in all browsers people.opera.com/patrickl/experiments/keyboard/test */
	outline: 0;
}
a img {
	border: 0;
}

.assistive-text{
	display: none;	
}

/*	Less Framework 4
	http://lessframework.com
	by Joni Korpi
	License: http://opensource.org/licenses/mit-license.php	*/


/*	Resets
	------	*/

html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, 
p, blockquote, pre, a, abbr, address, cite, code, del, dfn, em, 
img, ins, kbd, q, samp, small, strong, sub, sup, var, b, i, hr, 
dl, dt, dd, ol, ul, li, fieldset, form, label, legend, 
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figure, figcaption, hgroup, 
menu, footer, header, nav, section, summary, time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
}

article, aside, canvas, figure, figure img, figcaption, hgroup,
footer, header, nav, section, audio, video {
	display: block;
}

a img {border: 0;}

.clearfix:after {clear:both;content:' ';display:block;font-size:0;line-height:0;visibility:hidden;width:0;height:0;}.clearfix {display:inline-block;}* html .clearfix {height:1%;}.clearfix {display:block;}/* Defaults

/*	Typography presets
	------------------	*/

.gigantic {
	font-size: 123px;
	line-height: 132px;
	letter-spacing: -2px;
}

.huge, h1 {
	font-size: 76px;
	line-height: 84px;
	letter-spacing: -1px;
}

.menu-toggle {
	display: none;
}

.large, h2 {
	font-size: 47px;
	line-height: 48px;
}

.bigger, h3 {
	font-size: 29px;
	line-height: 36px;
}

.big, h4 {
	font-size: 25px;
	line-height: 30px;
}

body {
	font: 18px/24px "Times New Roman", Times, serif;
}

.small, small {
	font-size: 13px;
	line-height: 18px;
}

/* Selection colours (easy to forget) */

::selection 	 	{background: rgb(255,255,158);}
::-moz-selection 	{background: rgb(255,255,158);}
img::selection 		{background: transparent;}
img::-moz-selection	{background: transparent;}
body {-webkit-tap-highlight-color: #000000;}


/* 
COLORS

Grahmallow - rgb(232,228,166) - #E8E4A6 
Mello Mallow - rgb(232,217,189) - #E8D9BD 
	Dark - rgb(214,191,148) - #D6BF94
	Light - rgb(244,237,225) 
Ooey GUI Orange - rgb(232,134,45) - #E8862D 
	Dark - rgb(230,117,37) - #E67525 
Chocolate Brown - rgb(38,13,02) - #260D02 
	Dark - rgb(64,44,37) - #402C25 

*/


/*		Default Layout: 992px. 
		Gutters: 24px.
		Outer margins: 48px.
		Leftover space for scrollbars @1024px: 32px.
-------------------------------------------------------------------------------
cols    1     2      3      4      5      6      7      8      9      10
px      68    160    252    344    436    528    620    712    804    896    */

body {
	background: rgb(232,217,189); /* Mello Mallow */
	color: rgb(64,44,37);/* Chocolate Brown - Dark */
	-webkit-text-size-adjust: 100%; /* Stops Mobile Safari from auto-adjusting font-sizes */
	margin: 0;
	font-family: 'Karla', sans-serif;
	font-size: 12px;
	line-height: 18px;
}

a {
	color: rgb(64,44,37);/* Chocolate Brown - Dark */
	text-decoration: none;	
}

a:hover {
	color: rgb(232,134,45);/* Ooey GUI Orange */
	text-decoration: none;	
}

#main {
	width: 896px;
	padding: 48px 48px 72px;
	margin: 0 auto;
}

#main.full {
	width: 100%;
	-moz-box-sizing:    border-box;
    -webkit-box-sizing: border-box;
    box-sizing:        border-box;
    *behavior: url(/scripts/boxsizing.htc);
}

	.error404 #main {
		padding-bottom: 0px;
	}

	.error404 .entry-content {
		display: block;
	}

	.error404 .entry-content img {
		margin: 0 auto;
		display: block;
	}

#push {
	width: 100%;
	display: block;
	clear: both;
}

header.site-header {
	background: rgb(38,13,02); /* Chocolate Brown */
	margin: 0 auto;
	/*position: absolute;*/
	top: 0;
	left: 0;
	width: 100%;
	border-bottom: solid 8px rgb(214,191,148); /* Mello Mallow - Dark */
	
}

header h1 {
	float: left;
	display: inline-block;
}

/*header hgroup*/
#masthead {
	padding: 48px 48px 0;
	width: 896px;
	margin: 0 auto;
}

#logotype {
	background-image: url(assets/logotype-10col.png);
	background-repeat: no-repeat;
	background-position: left top;	
	width: 252px;
	height: 114px;
	float: left;
	margin: 0 0 36px 0;	
}

nav.main-navigation {
}

.menu-main-container {
	float: right;	
	margin: 36px 0 0 0;
}

ul#menu-main {
	width: 620px;
	text-align: center;
}

ul#menu-main li {
	display: inline-block;
	width: 18%;
	font-size: 16px;
}

ul#menu-main li a {
	color: rgb(232,228,166);
	padding: 0 0 10px;
}

ul#menu-main li a:hover {
	font-weight: bold;
}

ul#menu-main li a:active {
	font-weight: bold;
	color: rgb(230,117,37); /* Ooey GUI Orange - Dark */
}

ul#menu-main li.current-menu-item a {
	border-bottom: solid 6px rgb(230,117,37);	/* Ooey GUI Orange - Dark */
}


/* FOOTER */
footer {
	margin: 0 auto;
	bottom: 0;
	left: 0;
	width: 100%;
	clear: both;
	background: rgb(214,191,148); /* Mello Mallow - Dark */	
}

footer .footer {
	width: 896px;
	margin: 0 auto;
}


#sub-footer {
	background: rgb(232,134,45); /* Ooey GUI Orange */	
	padding: 48px 0 72px 0;
	height: 216px;
}

#sub-footer img {
	float: right;
}

#sub-footer p {
	display: block;
	clear: both;
}

#smore_punny {
	background-color: rgb(38,13,02); /* Chocolate Brown */
	padding: 18px 48px;
	float: right;
	margin: 0 48px 0 0;
	max-width: 412px;
	position: relative;
}

#smore_punny img {
	float: right;
	right: -10px;
	top: 17px;
	position: absolute;
}


#smore_punny a {
	border: none;
}

h1.divider {
	background-image: url(assets/divider_dot.png);
	background-repeat: repeat-x;
	background-position: left 7px;	
	font-weight: normal;
	float: none;
	display: block;
}

footer .column.one,
footer .column.two {
	width: 252px;	
}

footer .column.three {
	width: 344px;	
	margin-bottom: 24px;
}


/* Column one */
.computer.small {
	margin: 24px 0;	
}


.computer img {
	float: left !important;	
}

.computer img.mask {
}

.computer img.screen {
	margin: 0 auto -200px 0;
	padding: 11px 0 0 11px;	
	border: none;
	box-shadow: none;
}


footer .more {
	margin: 24px 0 0 0;	
}


/* Column Two */

#social_feed  {
	margin: 48px 0 0 0;	
}

#social_feed ul {
	width: 48px;
	display: inline-block;
	float: left;	
}

#social_feed li {
	height: 48px;
	background-color: rgb(230,117,37);	/* Ooey GUI Orange - Dark */
	cursor: pointer;	
}

#social_feed li img {
    float: right;
    position: relative;
    right: -10px;
	top: 14px;
} 

#social_feed li img {
    float: right;
}

#social_feed li.facebook {
	background-image: url(assets/social_feed/facebook.png);
	background-repeat: no-repeat;
	background-position: center center;	
}

#social_feed li.twitter {
	background-image: url(assets/social_feed/twitter.png);
	background-repeat: no-repeat;
	background-position: center center;	
}

#social_feed_box {
	width: 204px;
	display: inline-block;
	float: right;	
	background-color: rgb(232,134,45); /* Ooey GUI Orange */
	min-height: 96px;
}


#social_feed_box p {
	padding: 24px;
}

#social_feed_box p time {
	display: block;
	clear: both;
	text-align: right;
	font-size: 12px;
}



/* TESTIMONIAL */

.testimonial {
	background-color: rgb(232,134,45); /* Ooey GUI Orange */
	height: 100%;
	background-image: url(assets/quotation.png);
	background-repeat: no-repeat;
	background-position: left center;
	padding: 0 0 0 92px;
	font-size: 14px;
	line-height: 18px;	
}

.testimonial p {
	padding: 24px 36px;
}

.testimonial span {
	clear: both;
	display: block;
	text-align: right;
}

/* WORK */

.work.about .column.one {
	width: 344px;	
}

.work.about .column.two {
	width: 252px;	
}


.work.about .column.three {
	width: 252px;	
}



.work.props .column.one {
	width: 620px;	
}

	.work.props .column.one .column.one {
		width: 344px;	
	}
	
	.work.props .column.one .column.two {
		width: 252px;	
	}

.work.props .column.two {
	width: 252px;	
}

.props img.photo {
	width: 100%;	
	margin: 0 0 24px 0;
}


/* CLIENT */

.work.client .column.one {
	width: 344px;	
	overflow: hidden;
}

	.work.client.no_other .column.one {
		width: 100%;	
	}

	.work.client .column.one .column.one {
		width: 160px;	
	}

	.work.client .column.one .column.one img {
		position: relative;
		right: 160px;	
	}

	.work.client .column.one .column.one img.client-featured {
		right: 0px !important;	
	}
	
	
	.work.client .column.one .column.two {
		width: 160px;	
	}

.work.client .column.two {
	width: 528px;	
}

.info_right.horizontal .spokesbox {
	width: 250px;
}

.similar .column {
	width: 100%;
}

.similar .spokesbox {
	width: 160px;
}

	.info_right.horizontal .spokesbox .info {
		width: 155px;
		padding: 0 12px;
	}


/* CONTACT */

.entry-content#contact .column.one {
	width: 252px;
}

.entry-content#contact .column.two {
	width: 620px;
}

span.sweet {
	float: right;
	display: inline-block;
}


/* HOME */

#home .row.about .column.one {
	width: 344px;
}
#home .row.about .column.two,
#home .row.about .column.three,
#home .row.about .column.four {
	width: 160px;
}
.row.about .column.five,
.row.about .column.five  {
	float: right;
	margin: 24px 0 0;
}


/* ABOUT */

#about .row#who  .column.one {
	width: 344px;
}
#about .row#who  .column.two,
#about .row#who  .column.three {
	width: 252px;
}


#about .row#camp  .column.one {
	width: 252px;
}
#about .row#camp  .column.two {
	width: 344px;
}
#about .row#camp  .column.three {
	width: 252px;
}

#instagram a {
	margin: 0 20px 20px 0;
	display: inline-block;
}

#instagram a:nth-child(3n+3) {  
  	margin-right: 0;
}

#instagram a.last {  
  	margin-right: 0;
}

#about .row#style .column.one {
	width: 252px;
}

#about .row#style .column.two {
	width: 620px;
}

.colorbox {
  position: relative;
  background-color: #FFFFFF;
  width: 22%;
  text-align: right;
  color: #999999;

}
 
.colorbox:before {
  content: "";
  position: absolute;
  top: 0%;
  left: 0%;
  width: 0;
  height: 0;
  border-bottom: 20px solid transparent;
  border-left: 20px solid #E8D9BD; /*Set to background color, not transparent!*/
}

.colorbox div {
	padding: 12px;
}
.colorbox div span {
	clear: both;
	display: block;
}

.colorbox .color {
	height: 48px;
	width: auto;
	display: block;

}

.colorbox li {
	width: 50%;
	display: inline-block;
	float: left;

}

.colorbox .title {
	background: none !important;
	font-size: 14px;
	font-weight: bold;
}
	/* MELLOW MALLOW */
	.colorbox.mellow_mallow .title,
	.colorbox.mellow_mallow .color {
		color: rgb(232,217,189); /* Mello Mallow */
		background-color: rgb(232,217,189); /* Mello Mallow */
	}

	.colorbox.mellow_mallow .scale .light {
	background-color: rgb(244,237,225); /* Mello Mallow - Light */  
	color: rgb(244,237,225); /* Mello Mallow - Light */  

	}

	.colorbox.mellow_mallow .scale .dark {
	background-color: rgb(214,191,148); /* Mello Mallow - Dark */	
	color: rgb(214,191,148); /* Mello Mallow - Dark */	
	}


	/* GRAHMALLOW */
	.colorbox.grahmallow .title,
	.colorbox.grahmallow .color {
		color: rgb(232,228,165); /* Mello Mallow */
		background-color: rgb(232,228,165); /* Mello Mallow */
	}

	.colorbox.grahmallow .scale .light {
	background-color: rgb(240,237,199); /* Mello Mallow - Light */  
	color: rgb(240,237,199); /* Mello Mallow - Light */  

	}

	.colorbox.grahmallow .scale .dark {
	background-color: rgb(197,195,143); /* Mello Mallow - Dark */	
	color: rgb(197,195,143); /* Mello Mallow - Dark */	
	}


	/* OOEY GUI ORANGE */
	.colorbox.ooey .title,
	.colorbox.ooey .color {
		color: rgb(232,134,45); /* Mello Mallow */
		background-color: rgb(232,134,45); /* Mello Mallow */
	}

	.colorbox.ooey .scale .light {
	background-color: rgb(232,164,101); /* Mello Mallow - Light */  
	color: rgb(232,164,101); /* Mello Mallow - Light */  

	}

	.colorbox.ooey .scale .dark {
	background-color: rgb(230,117,37); /* Mello Mallow - Dark */	
	color: rgb(230,117,37); /* Mello Mallow - Dark */	
	}


	/* CHOC BROWN */
	.colorbox.choc_brown .title,
	.colorbox.choc_brown .color {
		color: rgb(38,13,02); /* Mello Mallow */
		background-color: rgb(38,13,02); /* Mello Mallow */
	}

	.colorbox.choc_brown .scale .light {
	background-color: rgb(136, 84, 62); /* Mello Mallow - Light */  
	color: rgb(136, 84, 62); /* Mello Mallow - Light */  

	}

	.colorbox.choc_brown .scale .dark {
	background-color: rgb(64,44,37); /* Mello Mallow - Dark */	
	color: rgb(64,44,37); /* Mello Mallow - Dark */	
	}

#about .row#services .column.one {
	width: 344px;
}


#about .row#services .column.two {
	width: 528px;
}

#about .row#services .servicebox.web-devolpment .spokesbox {
	display: none;
}

#about .row#camper .column.one {
	width: 528px;
}
	#about .row#camper .column.one img {
		width: 100%;
	}

#about .row#camper .column.two {
	width: 344px;
}

/* SERVICES */
#services .row .column.one {
	width: 160px;
}

#services .row .column.two {
	width: 712px;
}

#services .row.services .spokesbox {
	width: 29%;
}
#services .row.services .info.minier {
	/*width: 130px;*/
	width: 126px;
}

#services .row.services .spokesbox:nth-child(3n+3) {
	margin-right: 0;
}



/* UNIVERSAL STYLES */
strong {
	font-weight: bold;
}
img {
	-moz-box-sizing:    border-box;
    -webkit-box-sizing: border-box;
    box-sizing:        border-box;
    *behavior: url(/scripts/boxsizing.htc);
}

.photo img,
img.photo  {
	border: solid 3px rgb(244,237,225);
}


#blog .photo img,
#blog img.photo  {
	border: solid 1px #D6BF94;
	padding: 10px;
	background-color: #FFFFFF;
}

p {
	margin: 0 0 24px 0;	
}

.on_orange,
.on_chocBrown {
	color:	#FFFFFF;
}

.on_orange a,
.on_chocBrown a {
	color: #FFFFFF;
	border-bottom: 1px dotted #FFFFFF;
}

.on_orange a:hover,
.on_chocBrown a:hover {
	color: rgb(64,44,37);/* Chocolate Brown - Dark */
	border-bottom: 1px dotted rgb(64,44,37);/* Chocolate Brown - Dark */
}

.on_chocBrown a:hover {
	color: rgb(232,228,166);	/* Ooey GUI Orange - Dark */
	border-bottom: 1px dotted rgb(64,44,37);/* Chocolate Brown - Dark */
}

.on_mallow_dark {
	color: rgb(230,117,37) !important;	/* Ooey GUI Orange - Dark */
}

.on_mallow_dark input,
.on_mallow_dark textarea {
	background-color: rgb(232,217,189);  /* Mellow Mallow */   
}

.on_mallow input,
.on_mallow textarea {
	background-color: rgb(244,237,225); /* Mello Mallow - Light */    
}

.divider.on_mallow_dark span {
	background-color: rgb(214,191,148); /* Mello Mallow - Dark */	
}

.divider.on_mallow span {
	background-color: rgb(232,217,189); /* Mello Mallow */
}



.shadow,
.shadow.on_mallow,
a.shadow img,
a.shadow.on_mallow img {
	-moz-box-shadow: 3px 2px 2px rgba(152,122,82, 0.75);
	-webkit-box-shadow: 3px 2px 2px rgba(152,122,82, 0.75);
	-o-box-shadow: 3px 2px 2px rgba(152,122,82, 0.75);
	box-shadow: 3px 2px 2px rgba(152,122,82, 0.75);	
}

.shadow.on_mallow_dark,
a.shadow .on_mallow_dark {
	-moz-box-shadow: 3px 2px 2px rgba(174,152,110,0.75); /* Mello Mallow - Dark */	
	-webkit-box-shadow: 3px 2px 2px rgba(174,152,110,0.75); /* Mello Mallow - Dark */	
	-o-box-shadow: 3px 2px 2px rgba(174,152,110,0.75); /* Mello Mallow - Dark */	
	box-shadow: 3px 2px 2px rgba(174,152,110,0.75); /* Mello Mallow - Dark */		
}
	
	a.shadow {
	-moz-box-shadow: none;
	-webkit-box-shadow: none;
	-o-box-shadow: none;
	box-shadow: none;	
	}




.rounded_corner,
.rounded_corner li,
input,
textarea {
	border-radius: 3px 3px;
	-moz-border-radius: 3px 3px;
	-webkit-border-radius: 3px 3px;
	-o-border-radius: 3px 3px;	
}

.divider  {
	color: rgb(232,134,45); /* Ooey GUI Orange */	
	background-image: url(assets/divider_dot.png);
	font-size: 14px;
	text-transform: uppercase;
	line-height: 14px;
}


	.divider.blank  {	
		background-image: none;
	}

footer .divider {
	margin: 48px 0;
}


#main .divider {
	margin: 24px 0 24px 0;
}

	#main .column .divider {
		margin: 0 0 24px 0;
	}

.divider span  {
	background-color: rgb(232,217,189); /* Mello Mallow */
	padding: 0 12px 0 0;
	display: inline;
}

.divider.horizontal {
	background-image: url(assets/divider_dot.png);
	background-repeat: repeat-x;
	background-position: left center;	
}

.separator.vertical {
	background-image: url(assets/divider_dot.png);
	background-repeat: repeat-y;	
}

.separator.vertical.right {
	background-position: right top;	
	padding: 0 12px 0 0;
}

.separator.vertical.left {
	background-position: left top;	
	padding: 0 0 0 12px;
}

.row {
	display: block;
	clear: both;
	margin: 48px 0 0 0;	
}

	.column .row {
		margin: 0 0 24px;	
	}

	.row.first {
		margin-top: 0 !important;	
	}

	li.slide .row {
		clear: none;
	}

.column {
	display: inline-block;
	margin: 0 24px 0 0;
	float: left;
	-moz-box-sizing:    border-box;
    -webkit-box-sizing: border-box;
    box-sizing:        border-box;
    *behavior: url(/scripts/boxsizing.htc);
		
}

.column.full {
	width: 100%;
}

.column.half {
	width: 50%;
	margin-right: 0;
	padding-right: 24px;
}
.column.half.last {
	padding-right: 0;
}

.column:last-child {
	margin-right: 0;	
}

.column.last {
	margin-right: 0;	
}

.italic {
	font-style: italic;	
}

h2 {
	font-size: 1.5em;
	font-weight: bold;	
	line-height: 28px;
}

h2 a:hover {
	border-bottom: dotted 1px rgb(64,44,37);/* Chocolate Brown - Dark */
	color: rgb(64,44,37);/* Chocolate Brown - Dark */
}

.small {
	font-size: 14px;
	font-weight: normal;	
}

span.time {
	font-size: 14px;
		
}

.more {
	float: right;	
	background-image: url(assets/more.png);
	background-repeat: no-repeat;
	background-position: right center;	
	padding: 0 24px 0 0;
	color: rgb(232,134,45); /* Ooey GUI Orange */
	margin-bottom: -1px;
}

.more.left {
	float: left;	
}


.divider .more {
	font-size: 12px;
    padding-right: 24px;
	padding-left: 12px; 
    text-transform: lowercase;
	padding-bottom: 1px;
}

a .more {
	color: rgb(232,134,45); /* Ooey GUI Orange */	
	padding-bottom: 1px;
}

.more:hover  {
	border-bottom: dotted 1px rgb(232,134,45); /* Ooey GUI Orange */
	padding-bottom: 0;	
}

label.checkbox span.holder {
	height:61px;
	background:url(assets/prettyCheckboxes/checkbox.png) 0 -1px no-repeat}
label.radio span.holder{height:61px;
	background:url(assets/prettyCheckboxes/radio.png) 0 -1px no-repeat
	}

label.checkbox:hover span.holder,label.radio:hover span.holder {
	top:-21px !important
}

label.checked span.holder,label.checked span.holder,label.checked:hover span.holder,label.checked:hover span.holder {
	top:-42px !important
}

label.list {
	float:left;
	clear:left;
	margin:0 0 5px 0
}

label.inline{float:left;
	margin:0 10px 0 0}

input.hiddenCheckbox{position:absolute;
	left:-10000px}

label.prettyCheckbox span.holderWrap {
	display:block;
	float:left;
	position:relative;
	margin: 15px 5px 0 0;
	overflow:hidden;
	cursor: pointer;
}

label.prettyCheckbox span.holder{display:block;
	position:absolute;
top:0;
left:0}

ul.iconography {
	list-style: none;
	margin: 0;
	padding: 0;	
}


ul.iconography.light li {
	background-image:url(assets/icons_light.png);
}

ul.iconography.mid li {
	background-image:url(assets/icons_mid.png);
}

ul.iconography.transparent li {
	background-image:url(assets/icons_transparent.png);
}


ul.iconography.horizontal.light.no_words li a {
	background-image:url(assets/icons_light.png);
}

ul.iconography.horizontal.transparent.no_words li a {
	background-image:url(assets/icons_transparent.png);
}


ul.iconography li {
	background-repeat:no-repeat;
	height:25px;
	line-height:24px;
	margin:0 0 24px;
	padding:0 0 0 40px;
	background-image:url(assets/icons_light.png);
}


	ul.iconography.no_words {
		display: inline-block;
		margin: 24px 0 0 0;
	}


ul.iconography.horizontal.no_words li a {
	background-repeat:no-repeat;
	width: 25px;
	height: 25px;
	display: inline-block;
}


ul.iconography.horizontal.no_words li{
	display: inline-block;
	background-image:none;
	margin: 0 24px 0 0;
	padding: 0;
}

ul.iconography.horizontal li:last-child {
	margin: 0;
}

ul.iconography.horizontal li.last {
	margin: 0;
}


ul.iconography.horizontal li{
	display: inline-block;
	margin-right: 24px;
}


ul.iconography.horizontal.paragraph li {
	height: auto;
}


	ul.iconography.horizontal.paragraph li p {
		margin: 0;
	}


	ul.iconography.horizontal.paragraph li.location {
		background-image:url(assets/icons/location.png);
		background-position:left 0;
	}

	ul.iconography.horizontal.paragraph li.tent {
		background-image:url(assets/icons/tent.png);
		background-position:left 0;
	}

	ul.iconography.horizontal.paragraph li.coffee {
		background-image:url(assets/icons/coffee.png);
		background-position:left 0;
	}

	ul.iconography.horizontal.paragraph li.nerd {
		background-image:url(assets/icons/nerd.png);
		background-position:left 0;
	}


	ul.iconography.horizontal.paragraph li.html5 {
		background-image:url(assets/icons/html5.png);
		background-position:left 0;
	}


	ul.iconography.horizontal.paragraph li.css3 {
		background-image:url(assets/icons/css3.png);
		background-position:left 0;
	}


	ul.iconography.horizontal.paragraph li.wordpress {
		background-image:url(assets/icons/wordpress.png);
		background-position:left 0;
	}


	ul.iconography.horizontal.paragraph li.responsive {
		background-image:url(assets/icons/responsive.png);
		background-position:left 0;
	}



ul.iconography .facebook {
	background-position:left top;
}

ul.iconography .twitter {
	background-position:left -26px;
}

ul.iconography .email {
	background-position:left -52px;
}

ul.iconography .url,
ul.iconography .website {
	background-position:left -78px;
}

ul.iconography .dribbble {
	background-position:left -104px;
}

ul.iconography .linkedin {
	background-position:left -130px;
}

ul.iconography .forrst {
	background-position:left -156px;
}

ul.iconography .vcard {
	background-position:left -182px;
}

ul.iconography .behance {
	background-position:left -208px;
}

ul.iconography .pinterest {
	background-position:left -234px;
}

ul.iconography .society6 {
	background-position:left -260px;
}

ul.iconography .phone {
	background-position:left -286px;
}

ul.iconography .location {
	background-position:left -312px;
}

ul.iconography .nerd {
	background-position:left -338px;
}

ul.iconography .ask {
	background-position:left -364px;
}

	ul.iconography.right li.ask {
		background-position: right -364px;
		padding: 0 40px 0 0;
	}

ul.iconography .coffee {
	background-position:left -390px;
}

ul.iconography .tent {
	background-position:left -416px;
}

ul.iconography .wordpress {
	background-position:left -442px;
}

ul.iconography .responsive {
	background-position:left -468px;
}

ul.iconography .html5 {
	background-position:left -494px;
}

ul.iconography .css3 {
	background-position:left -520px;
}

ul.iconography .yelp {
	background-position:left -546px;
}

ul.iconography .googleplus {
	background-position:left -572px;
}

ul.iconography .breifcase {
	background-position:left -598px;
}

ul.iconography .wrench {
	background-position:left -625px;
}


ul.iconography .instagram {
	background-position:left -651px;
}

ul.iconography .coffee {
	background-position:left -677px;
}

ul.iconography .heart {
	background-position:left -703px;
}


ul.iconography .stack {
	background-position:left -729px;
}


ul.iconography li a {
	font-size:14px;
	font-weight:bold;
	color:#402c25;
	text-decoration:none;
}

	ul.iconography li.ask a {
		font-size: inherit;
		font-weight: normal;
	}

input, 
textarea {
	border: none;
	font-size: 14px;
	color: rgb(64,44,37);/* Chocolate Brown - Dark */
	margin: 0 0 24px;
	padding: 0 18px;
	width: 100%;	
	font-family: 'Karla', sans-serif; 
	-moz-box-sizing:    border-box;
    -webkit-box-sizing: border-box;
    box-sizing:        border-box;
    *behavior: url(/scripts/boxsizing.htc);
	/* border: solid 1px rgb(214,191,148); */
}

input[type="text"], textarea {
	cursor: text;
}

input[type="checkbox"],
input[type="radio"] {
	cursor: pointer;
}

input[type="email"] {/*
		-moz-box-shadow: 2px 2px 2px #D6BF94;
		-webkit-box-shadow: 2px 2px 2px #D6BF94;
		-o-box-shadow: 2px 2px 2px #D6BF94;
		box-shadow: 2px 2px 2px #D6BF94;*/
}

input:focus,
textarea:focus {  
	background-color: rgb(232,228,166);
	color: rgb(64,44,37) ;
}

input {
	height: 48px;
	line-height: 48px;
}



input.checkbox {
	height: 100%;
	width: inherit;
	margin: 0 16px 0 0;
	float: left;
}

textarea {
	padding: 18px;	
}
	

    input::-webkit-input-placeholder, textarea::-webkit-input-placeholder {
        color: #D6BF94;
    }

    input:-moz-placeholder, textarea:-moz-placeholder {
        color: #D6BF94;
    }

    input:-ms-input-placeholder, textarea:-ms-input-placeholder {
        color: #D6BF94;
    }

    form .placeholder {
        color: #D6BF94;
    }

.button {	
	background-color: rgb(232,134,45) !important; /* Ooey GUI Orange */		
	color: rgb(244,237,225) ;  /* Mellow Mallow - Light */
	cursor: pointer;
	border-radius: 3px;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	-o-border-radius: 3px;
}

a.button {
	padding: 18px;
	clear: both;
	display: block;
	text-align: center;
	margin: 24px 0;

}

.button:hover {
	color: #FFFFFF;
	background-color: rgb(230,117,37);	/* Ooey GUI Orange - Dark */
}

input.submit {
	width: auto;	
	float: right;
}

.form_checkbox {
	height: 48px;
}

.form_checkbox label {
	line-height: 28px;
}

ul.skills,
ul.tools {
	list-style: none;
	margin: 0;
	padding: 0;	
}



ul.skills li {
	background-color: rgb(64,44,37); /* Chocoloate Brown - Dark */
	color: rgb(232,217,189);  /* Mellow Mallow */
	display: inline-block;
	float: left;
	padding: 10px 12px;
	margin: 0 12px 12px 0;
}

ul.skills li a{
	color: rgb(232,217,189);  /* Mellow Mallow */
}


ul.tools li {
	color: rgb(232,217,189);  /* Mellow Mallow */
	display: inline-block;
	float: left;
	padding: 1px 2px;
	margin: 0 12px 12px 0;
	text-transform: capitalize;
	background-color: rgb(64,44,37); /* Chocoloate Brown - Dark */
	min-width: 18px;
	text-align: center;
}


ul.tools li.Photoshop { 
	background-color: rgb(0,143,165); 
}

ul.tools li.Dreamweaver { 
	background-color: rgb(65,173,73); 
}

ul.tools li.InDesign { 
	background-color: rgb(205,83,186); 
}

ul.tools li.Illustrator { 
	background-color: rgb(237,171,30); 
}

ul.tools li.Sublime { 
	background-color: #777777;
	color: rgb(232,164,101);
}

ul.tools li a {
	color: rgb(232,217,189);  /* Mellow Mallow */
}

ul.attachments li {
	display: inline-block;
	float: left;
	margin: 0 12px 12px 0;
}

ul.attachments li img {
	width: 68px;
	height: 68px;
	
}

.spokesimage.xlarge {
	height: 408px;	
}

	.spokesimage.xlarge.invitation,
	.spokesimage.xlarge.business_card,
	.spokesimage.xlarge.shirt,
	.spokesimage.xlarge.website {
		width: 433px;	
	}

.spokesimage.large {
	width: 252px;
	height: 240px;	
}

.spokesimage.medium {
	width: 160px;
	height: 152px;	
}

.spokesimage.small {
	width: 68px;
	height: 92px;	
}

.spokesimage.mini {
	width: 56px;
	height: 72px;	
}

.spokesimage img {
  max-width: 100%;
  max-height: 100%;
	-moz-box-sizing:    border-box;
    -webkit-box-sizing: border-box;
    box-sizing:        border-box;
    *behavior: url(/scripts/boxsizing.htc);
	/* border: solid 1px #b8a073;  NOT AN OFFICIAL COLOR - */
	/*border: solid 1px rgb(64,44,37);*/ /* Chocoloate Brown - Dark */
	display: block;
	margin: 0 auto;
	/* REMOVES ANTIALISING or at least it should */
	border-style: solid outset solid solid;
}



.spokesimage img.website {
	max-height: 233px;
}

.spokesimage img.mask {
	border: none;
}

.spokesimage img.shirt {
	border: none !important;
	-moz-box-shadow: none;
	-webkit-box-shadow: none;
	-o-box-shadow: none;
	box-shadow: none;
	max-width: 85%;
	max-height: 85%;
	float: none; 
	margin: 0 auto; 
}
.spokesimage.xlarge img.shirt {
		padding-top: 75px;
	}

.spokesimage.large img.shirt {
		padding: 40px 0 0 0;
	}

	.spokesimage.medium img.shirt {
		padding: 30px 0 0 0;
	}

	.spokesimage.small img.shirt {
		max-width: 75%;
		max-height: 75%;
		padding: 30px 0 0 0;
	}

	.spokesimage.mini img.shirt {
		padding: 23px 0 0 0;
		max-width: 75%;
		max-height: 75%;
	}
	
	
	div.spokesimage.shirt.xlarge {
		background-image: url(assets/spokesimage/shirt_mask-xlarge.png);
	}
	div.spokesimage.shirt.large {
		background-image: url(assets/spokesimage/shirt_mask-large.png);
	}
	
	div.spokesimage.shirt.medium {
		background-image: url(assets/spokesimage/shirt_mask-medium.png);
	}
	
	div.spokesimage.shirt.small {
		background-image: url(assets/spokesimage/shirt_mask-small.png);
	}
	
	div.spokesimage.shirt.mini {
		background-image: url(assets/spokesimage/shirt_mask-mini.png);
	}

.spokesimage img.business_card.back {
	float: right;

transform: rotate(2deg);
-ms-transform: rotate(2deg); /* IE 9 */
-webkit-transform: rotate(2deg); /* Safari and Chrome */
-o-transform: rotate(2deg); /* Opera */
-moz-transform: rotate(2deg); /* Firefox */
}

	.spokesimage img.business_card.front{
		float: left;
		transform: rotate(-2deg);
		-ms-transform: rotate(-2deg); /* IE 9 */
		-webkit-transform: rotate(-2deg); /* Safari and Chrome */
		-o-transform: rotate(-2deg); /* Opera */
		-moz-transform: rotate(-2deg); /* Firefox */
		-moz-box-shadow: 0 2px 2px rgba(152,122,82, 0.75);
		-webkit-box-shadow: 0 2px 2px rgba(152,122,82, 0.75);
		-o-box-shadow: 0 2px 2px rgba(152,122,82, 0.75);
		box-shadow: 0 2px 2px rgba(152,122,82, 0.75);	
	}
	
		.spokesimage.xlarge img.business_card.front{
			margin: -400px 0 0 7px;
		}

			.spokesimage.xlarge.horizontal img.business_card.front{
				margin: -405px 0 0 0;
			}

			.spokesimage.xlarge.horizontal img.business_card.back{
				margin: 160px 20px 0 ;
			}
	
		.spokesimage.large img.business_card.front{
			margin: -240px 0 0 0;
		}
	
			.spokesimage.large.horizontal img.business_card.front {
				margin: -232px 0 0 -5px;
			}
	
			.spokesimage.large.horizontal img.business_card.back {
				margin: 90px -5px 0 ;
			}
	
	
		.spokesimage.medium img.business_card.front{
			margin: -152px 0 0 0;
		}
	
			.spokesimage.medium.horizontal img.business_card.front {
				margin: -150px 0 0 -5px;
			}
	
			.spokesimage.medium.horizontal img.business_card.back {
				margin: 55px -5px 0 ;
			}
	
	
		.spokesimage.small img.business_card,
		.spokesimage.mini img.business_card {
			max-width: 80%;
			max-height: 80%;
		}
			.spokesimage.small.horizontal img.business_card.front {
				margin: -73px 0 0 0;
			}
	
			.spokesimage.small.horizontal img.business_card.back {
				margin: 51px 0 0;
			}
	

			.spokesimage.mini.horizontal img.business_card.front {
				margin: -58px 0 0 0;
			}
	
			.spokesimage.mini.horizontal img.business_card.back {
				margin: 41px 0 0;
			}
	
	
		.spokesimage.small img.business_card.front {
			margin: -70px 0 0 0;
		}
	
	
		.spokesimage.mini img.business_card.front{
			margin: -56px 0 0 0;
		}


		
	
.spokesimage .browser {
		background-color: rgb(64,44,37); /* Chocoloate Brown - Dark */
		width: 100%;
		border-radius: 3px 3px 0 0;
		-moz-border-radius: 3px 3px 0 0;
		-webkit-border-radius: 3px 3px 0 0;
		-o-border-radius: 3px 3px 0 0;
		background-image: url(assets/spokesimage/browser_buttons.png);
		background-repeat: no-repeat;
		background-position: 4px center;
			height: 12px;
}


		.spokesimage.small .browser {
			height: 9px;
		}

		.spokesimage.mini .browser {
			height: 7px;
		}


	
	
	div.spokesimage.invitation.xlarge {
		background-image: url(assets/spokesimage/invite_mask-xlarge.png);
	}

	div.spokesimage.invitation.large {
		background-image: url(assets/spokesimage/invite_mask-large.png);
	}
	
	div.spokesimage.invitation.medium {
		background-image: url(assets/spokesimage/invite_mask-medium.png);
	}
	
	div.spokesimage.invitation.small {
		background-image: url(assets/spokesimage/invite_mask-small.png);
	}
	
	div.spokesimage.invitation.mini {
		background-image: url(assets/spokesimage/invite_mask-mini.png);
	}
	
	div.spokesimage img.invitation.shadow {
		box-shadow: 0 2px 2px #C3A36E;
	}

div.spokesimage {
	background-repeat: no-repeat;
	background-position: center center;
	background-size: contain;
	display: inline-block;
}
	

	#services .horizontal div.spokesimage {
		margin: 0 24px 24px 0;
		float: left;
		display: inline-block;
	}

.spokesbox {
	width: 100%;
	clear: both;
	display: block;	
}


	.slideshow .spokesbox {
		width: auto;
		overflow: visible;
		float: left;
		display: inline-block;
		margin: 0 24px 0 0;
		padding: 0 0 0 10px;
	}

	.slideshow.work .spokesbox {
		float: none;
		display: block;
		margin: 0 auto;
		padding: 0;
	}

	.horizontal .spokesbox {
		display: inline-block;
		float: left;
		clear: none;	
		margin-right: 24px;
	}

	.work.client .horizontal .spokesbox {
		margin-bottom: 0;
	}

	.horizontal .spokesbox:last-child {
		margin-right: 0;
	}

	.horizontal .spokesbox.last {
		margin-right: 0;
	}

	.info_right .spokesbox {
		margin: 0 0 24px 0;
	}

	#services .spokesbox {
		float: left;
	}

.spokesbox .info {
	display: inline-block;	
	float: right;
	width: 160px;
	overflow: hidden;
	margin: 0; /*just added*/
}
	
	.spokesbox .info.mediumer {
		width: auto;
	}

	#services #web-design .spokesbox .info {
		margin-top: 24px;
	}

	 .spokesbox .info.smaller {
		max-height: 92px;
	}

	 .spokesbox .info.minier {
		max-height: 72px;
	}

.mightier {
	font-weight: bold;
	clear: both;
	display: block;
	
}

.hoverbox {
	width: 252px;
	height: 252px;
	background-color: rgb(244,237,225)  /* Mello Mallow - Light */   ;
	margin: 0 0 10px;
	display: none;
	border: solid 2px rgb(64,44,37); /* Chocoloate Brown - Dark */
	cursor: pointer;
	background-image: url('assets/link_corner.png');
	background-position: right bottom;
	background-repeat:  no-repeat;
	padding: 24px;
	-moz-box-sizing:    border-box;
    -webkit-box-sizing: border-box;
    box-sizing:        border-box;
    *behavior: url(/scripts/boxsizing.htc);
}

.hoverbox a {
	width: 100%;
	height: 100%;
	display: block;
}

.hoverbox a:hover {
	color: #402C25;
}

.hoverbox .mightier {
	font-size: 18px;
	line-height: 24px;
	margin: 0 0 12px;
}


.hoverbox ul.tools {
	height: 20px;
	overflow: hidden;
}

.infobox p {
	padding: 0 10px;
}






.spokesimage img.flyer,
.spokesimage img.poster,
.spokesimage img.email,
.spokesimage img.invitation,
.spokesimage img.sermon {

transform: rotate(-2deg);
-ms-transform: rotate(-2deg); /* IE 9 */
-webkit-transform: rotate(-2deg); /* Safari and Chrome */
-o-transform: rotate(-2deg); /* Opera */
-moz-transform: rotate(-2deg); /* Firefox */
	-moz-box-sizing:    border-box;
    -webkit-box-sizing: border-box;
    box-sizing:        border-box;
    *behavior: url(/scripts/boxsizing.htc);
}


.tilt {
transform: rotate(-3deg);
-ms-transform: rotate(-3deg); /* IE 9 */
-webkit-transform: rotate(-3deg); /* Safari and Chrome */
-o-transform: rotate(-3deg); /* Opera */
-moz-transform: rotate(-3deg); /* Firefox */
	-moz-box-sizing:    border-box;
    -webkit-box-sizing: border-box;
    box-sizing:        border-box;
    *behavior: url(/scripts/boxsizing.htc);
}


.note {
   position:relative;
   width:30%;
   padding:1em 1.5em;
   margin:2em auto;
   color:#fff;
   background:#97C02F;
   overflow:hidden;
}

img.flyer:after {
   content:"";
   position:absolute;
   top:0;
   right:0;
   border-width:0 16px 16px 0;
   border-style:solid;
   border-color:#fff #fff #658E15 #658E15;
   background:#658E15;
   -webkit-box-shadow:0 1px 1px rgba(0,0,0,0.3), -1px 1px 1px rgba(0,0,0,0.2);
   -moz-box-shadow:0 1px 1px rgba(0,0,0,0.3), -1px 1px 1px rgba(0,0,0,0.2);
   box-shadow:0 1px 1px rgba(0,0,0,0.3), -1px 1px 1px rgba(0,0,0,0.2);
   display:block; width:0; /* Firefox 3.0 damage limitation */
   z-index: 999;
}


.slideshow { height: 100%; overflow:hidden; display: block; clear: both;  }

.slideshow .viewport { float: left; width: 760px; height: 430px; overflow: hidden; position: relative; }
	.testimonials.slideshow .viewport { height: 125px; width: 100%;}


.slideshow .buttons { display: block; float: left; width: 68px; height: 430px; }

.slideshow .next { 
	background-image: url(assets/arrow-right.png);
	background-repeat: no-repeat;
	background-position: right center;
	float: right;}

.slideshow .prev { 
	background-image: url(assets/arrow-left.png);
	background-repeat: no-repeat;
	background-position: left center;
	float: left;}

.slideshow .next.disable { 
	background-image: url(assets/arrow-right-disable.png);
	cursor: default; 
}

.slideshow .prev.disable { 
	background-image: url(assets/arrow-left-disable.png);
	cursor: default; 
}

.slideshow .overview { list-style: none; padding: 0; margin: 0;  position: absolute; left: 0; top: 0; overflow: hidden; }

.slideshow .overview li.slide { float: left; margin: 0 10px; padding: 0;  width:760px; height: 430px; overflow: hidden; display: inline-block; }

.work.slideshow .overview li.slide { margin: 0 20px 0 0; }
		
	.testimonials.slideshow .overview li { height: 125px; width: 896px; float: left; }

.slideshow .overview li img {  max-width: 734px; max-height: 424px; }

	.work.slideshow .overview li img { display: block; margin: 0 auto; }

.slideshow .overview li .spokesimage {  margin: 7px auto 0 auto; display: block; }

.slideshow .overview li .xlarge img {  max-width: 433px; max-height: 408px; width: auto; height: auto; display:  block;}

	.work.slideshow .overview li .xlarge img.plain,
	.work.slideshow .overview li .xlarge img.poster,
	.work.slideshow .overview li .xlarge img.email,
	.work.slideshow .overview li .xlarge img.sermon,
	.work.slideshow .overview li .xlarge img.flyer {  margin: 0 auto; float: none; display:  block;}

.slideshow .overview li .xlarge img.shirt {  max-width: 85%; max-height: 85%; }

.slideshow .overview li .xlarge img.business_card.back {  float: right; }

.slideshow .overview li .xlarge img.screen {  margin: 0 auto; padding: 20px; position: absolute; z-index: 1; }
	.slideshow .overview li .xlarge { position: relative; }
.slideshow .overview li .xlarge img.mask {  padding: 0; margin: 0px; position: relative; z-index: 2;}


.slideshow .pager { overflow:hidden; list-style: none; clear: both; margin: 24px 0 0 78px; float: left; }
	.testimonials.slideshow .pager { margin: 0; 
	}

.slideshow .pager li { float: left; margin: 0 12px 0 0; display: inline-block; }
	.testimonials.slideshow .pager li {margin: 0 24px 0 0; background-color: transparent; overflow: hidden; }
	.testimonials.slideshow .pager li.last {margin: 0; }

.slideshow span.pause { float: right; margin: 12px 78px 0 0; }
	.slideshow span.pause .button { margin: 0; padding: 10px 16px; }

.slideshow .pagenum { background-color: rgb(214,191,148); /* Mello Mallow - Dark */   
 text-decoration: none; text-align: center; padding: 5px; display: block; width: 6px; height: 6px; 
	border-radius: 12px 12px;
	-moz-border-radius: 12px 12px;
	-webkit-border-radius: 12px 12px;
	-o-border-radius: 12px 12px;	 }

	.testimonials.slideshow .pagenum { background-color: transparent; 
	padding: 48px 0 0 0;   }



	.testimonials.slideshow .pagenum { width: 160px; height: 72px; border-radius: 0;}

.testimonials.slideshow .active { /* Ooey GUI Orange */ background-color: transparent; background-image: url(assets/testimonial_pointer.png);
	background-repeat: no-repeat;
	background-position: center top;
	
	 }

.slideshow .active { 
	background-color: #E8862D; /* Ooey GUI Orange */ 
	 }

.testimonials.slideshow .active img {
	right: 160px;
	position: relative;
}


#smore_slideshow ul.iconography.horizontal {
	float: right;	
	margin: 24px 72px 0 0;
}

/* TOOLTIP */
.tooltip, .arrow:after {
  background-color: #222222;
  border: 1px solid #000000;
}

.tooltip {
  pointer-events: none;
  opacity: 0;
  display: inline-block;
  position: absolute;
  padding: 10px 20px;
  color: white;
  border-radius: 5px;
  -moz-border-radius: 5px;
  -o-border-radius: 5px;
  -webkit-border-radius: 5px;
  margin-top: 20px;
  text-align: center;
  font-stretch: condensed;
  text-decoration: none;
  box-shadow: 0 0 7px black;
  -moz-box-shadow: 0 0 7px black;
  -webkit-box-shadow: 0 0 7px black;
  -o-box-shadow: 0 0 7px black;
}
.arrow {
  width: 70px;
  height: 16px;
  overflow: hidden;
  position: absolute;
  left: 50%;
  margin-left: -35px;
  bottom: -16px;
}
.arrow:after {
  content: "";
  position: absolute;
  left: 20px;
  top: -20px;
  width: 25px;
  height: 25px;
  -webkit-box-shadow: 6px 5px 9px -9px black,
                      5px 6px 9px -9px black;
  -moz-box-shadow: 6px 5px 9px -9px black,
                   5px 6px 9px -9px black;
  box-shadow: 6px 5px 9px -9px black,
              5px 6px 9px -9px black;
  -webkit-transform: rotate(45deg);
  -moz-transform:    rotate(45deg);
  -ms-transform:     rotate(45deg);
  -o-transform:      rotate(45deg);
}
.tooltip.active {
  opacity: 1;
  margin-top: 5px;
  -webkit-transition: all 0.2s ease;
  -moz-transition:    all 0.2s ease;
  -ms-transition:     all 0.2s ease;
  -o-transition:      all 0.2s ease;
}
.tooltip.out {
  opacity: 0;
  margin-top: -20px;
}

form#filter {
	width: 100%;
}

form#filter fieldset {
	width: 100%;
	height:  48px;
	margin: 0 0 24px 0;
}

label.button {
background-color: rgb(214,191,148); /* Mello Mallow - Dark */  
	padding: 20px 36px;
	margin: 0 24px 0 0;
	font-size: 14px;
	text-transform: uppercase;
	cursor: pointer;
	color: rgb(244,237,225);  /* Mello Mallow - Light */   
	font-weight: bold;
}

.sort label.button {
background-color: rgb(214,191,148); /* Mello Mallow - Dark */  
	padding: 10px 20px;
}

label.button.active {
background-color: rgb(230,117,37);     /* Ooey GUI Orange - Dark */
}

label.button input {
	height: 100%;
	float: left;
	display: none;
}


ul.image-grid > li {
	display: inline-block;
	float: left;
	width: 252px;
	height: 252px;
	margin: 0 48px 48px;
}

span.data-type-size {
	display: none;
}

ul.list {
	list-style: disc;
	list-style-position: inside;
	padding: 0 0 0 24px;
}

.columnize {
	-moz-column-count: 3;
	-moz-column-gap: 24px;
	-moz-column-rule: none;

	-webkit-column-count: 3;
	-webkit-column-gap: 24px;
	-webkit-column-rule: none;

	-o-column-count: 3;
	-o-column-gap: 24px;
	-o-column-rule: none;
}

.servicebox {
	display: inline-block;
	float: left;
}

	#services .servicebox {
		margin: 0 0 24px;
	}

.servicebox .spokesbox {
	clear: none;
	display: inline-block;
	width: inherit;
}

.servicebox .about {
	float: right;
	max-width: 160px;
	margin: 0 0 0 24px;
}

#services .column.one .servicebox .about {
	margin-left: 12px;
}

.servicebox .about.left {
	float: left;
	margin: 0 24px 0 0;
}

.float-left {
	float: left;
}

.float-right {
	float: right;
}

#nav-below a, .entry-meta a {
	color: #E8862D;
}

/* BLOG */

#blog .column.one {
	width: 100%;
	margin: 0 autol
}

#blog .masonry {
	width: auto;
}

#blog .column.two {
	width: 252px;
}

.blogbox {
	border: solid 1px #D6BF94;
	background-color: rgb(244,237,225);
	width: 252px;
	margin: 0 24px 24px 0;
	float: right;
}

.blogbox.work {
	padding-top: 48px;
}

.blogbox.instagram {
	border: none !important;
	background-color: transparent !important; 
}

.blogbox ul.iconography {
	position: absolute;
	top: 20px;
	left: 20px;
	margin: 0;
	z-index: 9;
}

.blogbox img {
	margin: 0 auto;
	display: block;
}

.blogbox .info {
	padding: 16px 16px 0 16px;
}

.blogbox div.spokesimage {
	margin: 0 auto;
	display: block;
}

	.blogbox div.spokesimage.invitation.medium {
		background-image: url(assets/spokesimage/blog-box_invite_mask-medium.png);
	}
	
	.blogbox div.spokesimage.shirt.medium {
		background-image: url(assets/spokesimage/blog-box_shirt_mask-medium.png);
	}

.blogbox .shadow {
	-moz-box-shadow: 3px 2px 2px rgba(152, 122, 82, 0.35); /* Mello Mallow - Dark */	@
	-webkit-box-shadow: 3px 2px 2px rgba(152, 122, 82, 0.35); /* Mello Mallow - Dark */	
	-o-box-shadow: 3px 2px 2px rgba(152, 122, 82, 0.35); /* Mello Mallow - Dark */	
	box-shadow: 3px 2px 2px rgba(152, 122, 82, 0.35); /* Mello Mallow - Dark */	
}


.masonry #sidebar {
	width: 252px;
	display: block;
	border: solid 1px #E8D9BD;
	background: transparent;
	float: right;
}


#sidebar .widget {
	display: block;
	position: relative;
}

#sidebar .widget#categories {
	margin-bottom: 48px;
}

#sidebar .widget#archives {
	margin-bottom: 24px;
}

#sidebar .widget .iconography {
	position: relative;
	left: 0;
	top: 0;
}

.single-post #primary {
	width: 620px;
	margin-right: 24px;
	float: left;
}

.single-post #secondary {
	width: 228px;
	float: left;
}

.single-post header ul.iconography {
	float: right;
}

.single-post #process .column.three {
	width: 100%;
}

.single-post ul.list {
	list-style-position: outside;
}

.single-post header img {
	width: 100%;
}

.single-post .separator.vertical.right {
	padding-right: 24px;
}

                    

/*		Tablet Layout: 768px.
		Gutters: 24px.
		Outer margins: 28px.
		Inherits styles from: Default Layout.
-----------------------------------------------------------------
cols    1     2      3      4      5      6      7      8
px      68    160    252    344    436    528    620    712    */

/*@media only screen and (min-width: 768px) and (max-width: 991px) {
	
	body {
		width: 712px;
		padding: 48px 28px 60px;
	}
	
	
}
*/


/*		Mobile Layout: 320px.
		Gutters: 24px.
		Outer margins: 34px.
		Inherits styles from: Default Layout.
---------------------------------------------
cols    1     2      3
px      68    160    252    */

/*@media only screen and (max-width: 767px) {
	
	body {
		width: 252px;
		padding: 48px 34px 60px;
	}
	
}
*/


/*		Wide Mobile Layout: 480px.
		Gutters: 24px.
		Outer margins: 22px.
		Inherits styles from: Default Layout, Mobile Layout.
------------------------------------------------------------
cols    1     2      3      4      5
px      68    160    252    344    436    */

/*@media only screen and (min-width: 480px) and (max-width: 767px) {
	
	body {
		width: 436px;
		padding: 36px 22px 48px;
	}
	
}*/


/*	Retina media query.
	Overrides styles for devices with a 
	device-pixel-ratio of 2+, such as iPhone 4.
-----------------------------------------------    */
/*
@media 
	only screen and (-webkit-min-device-pixel-ratio: 2),
	only screen and (min-device-pixel-ratio: 2) {
	
	body {
	
	}
	
}