/*
Theme Name: smore_simple
Theme URI: https://wpcom-themes.svn.automattic.com/_s/
Author: Tiffany Israel
Author URI: http://tiffanyisrael.com/
Description: Simplified theme for S'more Creative
Version: 1.1
template: smore_creative

This theme, like WordPress, is licensed under the GPL.
Use it to make something cool, have fun, and share what you've learned with others.

Resetting and rebuilding styles have been helped along thanks to the fine work of
Eric Meyer http://meyerweb.com/eric/tools/css/reset/index.html
along with Nicolas Gallagher and Jonathan Neal http://necolas.github.com/normalize.css/
and Blueprint http://www.blueprintcss.org/
*/

/* Do not delete this @import unless you're planning on restyling everything from scratch. */
@import url("../smore_creative/style.css");
/* @import end */
/* 
Add your custom styles below:
*/

body {
	margin: 0 auto;
}

#main {
	padding: 48px;
	margin: 0 auto;
	width: auto;
}

.infobox {
	width: auto;
}


.row {
	clear: none;
	display: inline-block;
}

.infobox .row {
	margin-top: 0 !important;
}

.infobox h1 {
	margin-top: 0 !important;
}

.divider.blank {
	margin: 0 !important;
}

.spokesimage img.website {
	max-height: 408px;
	max-width: 433px;
	padding: 20px;
}

.computer img.screen {
	margin: 0 auto -267px 0 !important;
}

.floater {
	width: auto;
	float: right;

}

              

/*		Tablet Layout: 768px.
		Gutters: 24px.
		Outer margins: 28px.
		Inherits styles from: Default Layout.
-----------------------------------------------------------------
cols    1     2      3      4      5      6      7      8
px      68    160    252    344    436    528    620    712    */

@media only screen and (min-width: 768px) and (max-width: 991px) {
	
	body {
		width: 712px;
		/*padding: 48px 28px 60px;*/
	}
	
.column.float-left {
	float: none !important;
	display: block !important;
	margin: 0 !important;
}

.spokesimage {
	display: block !important;
	margin: 0 auto;
}

.infobox {
	clear: both;
	margin-top: 24px;
}

	
}



/*		Mobile Layout: 320px.
		Gutters: 24px.
		Outer margins: 34px.
		Inherits styles from: Default Layout.
---------------------------------------------
cols    1     2      3
px      68    160    252    */

@media only screen and (max-width: 767px) {
	
	body {
		width: 252px;
		/*padding: 48px 34px 60px;*/
	}
	
.spokesimage.xlarge {
	width: 160px !important;
	height: 152px;	
}

.spokesimage img.website {
	padding: 6px;
	max-width: 160px;
}


		.spokesimage.xlarge img.business_card.front{
			margin: -152px 0 0 0;
		}
	
			.spokesimage.xlarge.horizontal img.business_card.front {
				margin: -150px 0 0 -5px;
			}
	
			.spokesimage.xlarge.horizontal img.business_card.back {
				margin: 55px -5px 0 ;
			}

.spokesimage.xlarge img.shirt {
    padding: 30px 0 0;
}
	div.spokesimage.shirt.xlarge {
		background-image: url(../smore_creative/assets/spokesimage/shirt_mask-medium.png);
	}

	div.spokesimage.invitation.xlarge {
		background-image: url(../smore_creative/assets/spokesimage/invite_mask-medium.png);
	}


	div.spokesimage.invitation.xlarge {
		background-image: url(../smore_creative/assets/spokesimage/invite_mask-medium.png);
	}
}



/*		Wide Mobile Layout: 480px.
		Gutters: 24px.
		Outer margins: 22px.
		Inherits styles from: Default Layout, Mobile Layout.
------------------------------------------------------------
cols    1     2      3      4      5
px      68    160    252    344    436    */

@media only screen and (min-width: 480px) and (max-width: 767px) {
	
	body {
		width: 436px;
		/*padding: 36px 22px 48px;*/
	}
	
}


/*	Retina media query.
	Overrides styles for devices with a 
	device-pixel-ratio of 2+, such as iPhone 4.
-----------------------------------------------    
*/

/*@media 
	only screen and (-webkit-min-device-pixel-ratio: 2),
	only screen and (min-device-pixel-ratio: 2) {
	
	body {
	
	}
	
}*/
