/*
	 IE7 and down fixes
*/

ul#menu-main li {
	float: left;
}

header h1 {
	vertical-align: top;
	margin-top: -90px;
}

#logotype {
	padding-bottom: 36px;
	margin-bottom: 36px;
}

ul.iconography.horizontal li {
	float: left;
}

.slideshow .pager {
	float: none !important;
	display: inline-block;
	width: auto;
}